body
{
  font-family:arial;
  font-size: 12px;
  color:#1e5474;
  background: #f7f7f7;
  margin:0px;  
}

.table-list {
  width: 100%;
  border-collapse: collapse;
}

#container {
  width: 1100px;
  height: auto;
  margin: 0px auto;
  padding: 10px;
}

#container #header {
  margin-top: 20px;
}

#container #header #menu {
  background: #1e5474;
  padding: 5px 10px;
  overflow: hidden;
}

#container #header #menu #user {
  float: left;
  color: white;
}

#container #header #menu #user a {
  color: white;
  padding-right: 5px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}

#container #header #menu #button-keranjang {
  float: right;
  background: orange;
  padding: 2px 10px;
  border-radius: 3px;
}

#container #header #menu #button-keranjang img {
  vertical-align: bottom;
}

#container #footer {
  background: #1e5474;
  padding: 10px;
}

#container #footer p {
  color: white;
  text-align: right;
  font-size: 10px;
  font-style: italic;
  margin: 0px;
}

#container #content 
{
  padding: 10px 0px;
  overflow: hidden;
}

#container-user-akses {
  width: 350px;
  height: auto;
  margin: 50px auto;
}

.element-form {
  margin-bottom: 15px;
}

.element-form label {
  display: block;
  font-weight: bold;
}

.element-form span {
  display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.element-form span input[type="submit"] {
  background: #135474;
  border: none;
  color: white;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 9px;
  cursor: pointer;
}

.element-form span input[type="submit"]:hover{
  background:orange;
}

.notif {
  background: #1e5474;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 11px;
}

#bg-page-profile {
  overflow: hidden;
}

#menu-profile {
  float: left;
  width: 245px;
  background: #1e5474;
}

#menu-profile ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu-profile ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a:active {
background: orange;
}

#profile-content {
  float: left;
  width: 835px;
  padding: 10px;
  background: white;
}

.table-list tr.baris-title{
  background: #e6e6e6;
}

.table-list tr th,
.table-list tr td{
  padding: 10px 7px;
}

.kolom-nomor {
  width: 20px;
  text-align: center;
}

.kiri {
  text-align: left;
}

.kanan {
  text-align: right;
}

.tengah {
  text-align: center;
}

#frame-tambah {
  margin-bottom: 10px;
  text-align: right;
}

.tombol-action {
  background: #1e5474;
  color: white;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  font-size: 9px;
}

.tombol-action:hover{
  background: orange;
}
  
#kiri {
  width: 245px;
  height: auto;
  float: left;
}

#menu-kategori ul{
  list-style: none;
  margin: 0px;
  padding: 0px;  
}

#menu-kategori ul li{
  margin-bottom: 5px;
}

#menu-kategori ul li a{
  display: block;
  padding: 10px;
  background: white;
  color: #1e5474;
  text-decoration: none;
}

#menu-kategori ul li a:hover{
  background: #e8e8e8;
}

#kanan{
  width: 840px;
  margin-left: 15px;
  height: auto;
  float: right;
}

#kanan #frame-barang ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#kanan #frame-barang ul li{
  width: 240px;
  background: white;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  float: left;  
}

#kanan #frame-barang ul li .price{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;  
}

#kanan #frame-barang ul li a img{
  display: block;
  width: 240px;
}

#kanan #frame-barang ul li .keterangan-gambar{
  border-top: 1px solid#e6e6e6;
  border-bottom: 1px solid#e6e6e6;
  padding: 10px 0px;
  height: 50px;  
}

#kanan #frame-barang ul li .keterangan-gambar p{
  text-align: center;
  margin: 5px 0px;
}

#kanan #frame-barang ul li .keterangan-gambar p a{
  font-weight: bold;
  text-decoration: none;
}

#kanan #frame-barang ul li .keterangan-gambar span{
  display: block;
  text-align: center
}

#kanan #frame-barang ul li .button-add-cart{
  text-align: center;
  
}

#kanan #frame-barang ul li .button-add-cart a{
  background: #1e5474;
  color: white;text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 3px;
}

#kanan #frame-barang ul li .button-add-cart a{
  background: orange;
}

































